.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles généraux */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; 
  margin: 0;
  padding: 20px;
}

/* Styles pour le conteneur */
.container {
  max-width: 600px; 
  margin: auto; 
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Titres */
.title_HP{
  color: #fff; 
}

h1 {
  color: #333;
}

h2{
  color: #333;
}

/* Styles pour les formulaires */
form {
  display: flex;
  flex-direction: column;
}

/* Styles des champs de saisie */
input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Boutons */
button {
  padding: 10px;
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #0056b3;
}

p {
  margin: 0;
  padding: 10px 0;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.alert-success {
  color: green;
}

.alert-danger {
  color: red;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offer-card {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.offer-card:hover {
  transform: scale(1.05);
}

.cart-summary {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #ccc;
}

.cart-summary h2 {
  font-size: 1.5em;
}

.cart-summary p {
  font-size: 1.2em;
  font-weight: bold;
}

